* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background: linear-gradient(to right, rgb(36, 36, 36), rgb(26, 26, 26));
}

:root {
    --primary-color: #ff00dd;
    --secondary-color: #860cd8;
    --background-color: #f5a30b;
     --accent-color: #61ff22;
    --light-color: #ffffffc0;
    --white-color: #fff;
    --dark-color: #363131;
    --black-color: #000;
    --hover-color: #f0a500;
    --press-color: #2e0da7fb;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --mutted-color: rgb(128, 128, 128);
}